<div class="container">
  <app-navbar></app-navbar>
  <h1 class="h1 text-primary text-center">Meus personagens favoritos!</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <app-item-card
        nome="Eric Cartman"
        src="../../assets/img/cartman.png"
        serie="South Park"
        nomeAtor="Trey Parker"
        descricao="Eric Theodore Cartman é um personagem
    fictício da série animada South Park. Junto com Kenny McCormick, Kyle
    Broflovski e Stan Marsh é um dos 4 personagens principais do desenho.Por ser
    gordo, é motivo de piadas para várias crianças e outros personagens da
    série."
      ></app-item-card>
    </div>
    <div class="col">
      <app-item-card
        nome="Eric Cartman"
        src="../../assets/img/cartman.png"
        serie="South Park"
        nomeAtor="Trey Parker"
        descricao="Eric Theodore Cartman é um personagem
  fictício da série animada South Park. Junto com Kenny McCormick, Kyle
  Broflovski e Stan Marsh é um dos 4 personagens principais do desenho.Por ser
  gordo, é motivo de piadas para várias crianças e outros personagens da
  série."
      ></app-item-card>
    </div>
  </div>
</div>
